@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'maplibre-gl/dist/maplibre-gl.css';

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #f8fafc;
  color: #0f172a;
  font-family: 'Inter', system-ui, sans-serif;
}

.maplibregl-popup-content {
  padding: 0;
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.15);
}
